// Core

@import "./custom/functions";
@import "./custom/variables";
@import "./custom/mixins";
@import "./custom/minirest";

// bootstrap (5.1.3) components
@import "./bootstrap-5.1.3/utilities";
@import "./bootstrap-5.1.3/buttons";
@import "./bootstrap-5.1.3/forms";
@import "./bootstrap-5.1.3/containers";
@import "./bootstrap-5.1.3/grid";
@import "./bootstrap-5.1.3/alert";
@import "./bootstrap-5.1.3/close";
@import "./bootstrap-5.1.3/transitions";
@import "./bootstrap-5.1.3/navbar";
@import "./bootstrap-5.1.3/tables";
@import "./bootstrap-5.1.3/card";
@import "./bootstrap-5.1.3/pagination";

//custom components
