// Core

@import "./custom/functions";
@import "./custom/variables";
@import "./custom/mixins";
@import "./custom/minirest";

// bootstrap (5.1.3) components
//@import "./bootstrap-5.1.3/root";
@import "./bootstrap-5.1.3/buttons";
@import "./bootstrap-5.1.3/forms";
@import "./bootstrap-5.1.3/containers";
@import "./bootstrap-5.1.3/grid";