.card{
  flex: auto;
  .card-header{
    display: flex;
    justify-content: flex-end;
  }
  .card-body{
    th{
      text-align: left;
    }
  }
  .card-footer{
    display: flex;
    justify-content: space-around;
  }
}