.card{
  width: 100%;
  height: 85vh;
  flex: auto;
  padding: 0rem 2rem;
  border: none;
  .card-header{
    display: flex;
    justify-content: space-between;
    h2{
      line-height: 3rem;
      font-weight: bold;
      color: #0d6efd;
    }
  }
  .card-body{
    padding: 0;
    flex: 1 1 auto;
    th{
      text-align: left;
    }
  }
  .card-footer{
    display: flex;
    justify-content: space-between;
  }
}